USE [master]
GO
/****** Object:  Database [Mobile_shop_application]    Script Date: 6/11/2025 8:24:53 PM ******/
CREATE DATABASE [Mobile_shop_application]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Mobile_shop_application', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Mobile_shop_application.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Mobile_shop_application_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Mobile_shop_application_log.ldf' , SIZE = 4672KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Mobile_shop_application].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Mobile_shop_application]
GO
/****** Object:  Table [dbo].[company_t]    Script Date: 6/11/2025 8:24:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[company_t](
	[company_id] [int] IDENTITY(1,1) NOT NULL,
	[company_name] [nvarchar](50) NULL,
	[company_addres] [nvarchar](50) NULL,
 CONSTRAINT [PK_Table_1_1] PRIMARY KEY CLUSTERED 
(
	[company_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[customer_t]    Script Date: 6/11/2025 8:24:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[customer_t](
	[customer_id] [int] IDENTITY(1,1) NOT NULL,
	[customer_name] [varchar](50) NULL,
	[phone] [varchar](10) NULL,
	[address] [nvarchar](50) NULL,
	[nic] [int] NULL,
 CONSTRAINT [PK__customer__CD65CB8595839DC3] PRIMARY KEY CLUSTERED 
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Employ_TB]    Script Date: 6/11/2025 8:24:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employ_TB](
	[Emp_id] [int] IDENTITY(1,1) NOT NULL,
	[Emp_name] [nvarchar](50) NULL,
	[Phone] [int] NULL,
	[Address] [nvarchar](50) NULL,
	[Position] [nvarchar](50) NULL,
	[Salary] [int] NULL,
	[Emp_pic] [image] NULL,
 CONSTRAINT [PK_Employ_TB] PRIMARY KEY CLUSTERED 
(
	[Emp_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Expence_type]    Script Date: 6/11/2025 8:24:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Expence_type](
	[Expence_type_id] [int] IDENTITY(1,1) NOT NULL,
	[Expence_type_Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Expence_type] PRIMARY KEY CLUSTERED 
(
	[Expence_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Expences]    Script Date: 6/11/2025 8:24:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Expences](
	[Expence_id] [int] IDENTITY(1,1) NOT NULL,
	[Emp_id] [int] NULL,
	[Expence_type_id] [int] NOT NULL,
	[Expence_amount] [int] NOT NULL,
	[Expence_Date] [date] NOT NULL,
	[Expance_description] [text] NOT NULL,
 CONSTRAINT [PK_Expences] PRIMARY KEY CLUSTERED 
(
	[Expence_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[item_registration]    Script Date: 6/11/2025 8:24:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[item_registration](
	[product_id] [int] IDENTITY(1,1) NOT NULL,
	[product_name] [varchar](50) NOT NULL,
	[company_id] [int] NULL,
	[IME] [nvarchar](50) NULL,
	[model] [varchar](50) NULL,
	[Ram] [varchar](50) NULL,
	[memory] [varchar](50) NULL,
	[quntity] [int] NULL,
	[purchas_price] [decimal](18, 0) NULL,
	[sale_price] [decimal](18, 0) NULL,
 CONSTRAINT [PK_item_registration] PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[parchas_detail_t]    Script Date: 6/11/2025 8:24:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[parchas_detail_t](
	[parchas_detail_id] [int] IDENTITY(1,1) NOT NULL,
	[parchas_id] [int] NOT NULL,
	[purchas_dat] [date] NULL,
	[product_id] [int] NULL,
	[quntity] [int] NULL,
	[unit_price] [decimal](18, 0) NULL,
	[tatal] [decimal](18, 0) NULL,
 CONSTRAINT [PK_parchas_detail_t] PRIMARY KEY CLUSTERED 
(
	[parchas_detail_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Parchas_R_TB]    Script Date: 6/11/2025 8:24:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Parchas_R_TB](
	[purchas_R_id] [int] IDENTITY(1,1) NOT NULL,
	[purchas_date] [date] NULL,
	[suplair_id] [int] NULL,
	[total] [decimal](18, 0) NULL,
 CONSTRAINT [PK__Parchas___43540BB8F24265B9] PRIMARY KEY CLUSTERED 
(
	[purchas_R_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Parchasreturn_detail_t]    Script Date: 6/11/2025 8:24:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Parchasreturn_detail_t](
	[Parchasreturn_detail_id] [int] IDENTITY(1,1) NOT NULL,
	[purchasreturn_id] [int] NULL,
	[purchas_date] [date] NULL,
	[product_id] [int] NULL,
	[quntity] [int] NULL,
	[unit_price] [decimal](18, 0) NULL,
	[total] [decimal](18, 0) NULL,
 CONSTRAINT [PK__Parchasr__0AB4932FC3BC555C] PRIMARY KEY CLUSTERED 
(
	[Parchasreturn_detail_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[purchas_t]    Script Date: 6/11/2025 8:24:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[purchas_t](
	[purchas_id] [int] IDENTITY(1,1) NOT NULL,
	[purchas_date] [date] NOT NULL,
	[suplair_id] [int] NOT NULL,
	[total] [decimal](18, 0) NULL,
 CONSTRAINT [PK_purchas_t] PRIMARY KEY CLUSTERED 
(
	[purchas_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[sale_detail_t]    Script Date: 6/11/2025 8:24:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sale_detail_t](
	[sale_detail_id] [int] IDENTITY(1,1) NOT NULL,
	[sale_id] [int] NULL,
	[product_id] [int] NULL,
	[quntity] [int] NULL,
	[unit_price] [decimal](18, 0) NULL,
	[total_price] [decimal](18, 0) NULL,
 CONSTRAINT [PK_sale_detail_t] PRIMARY KEY CLUSTERED 
(
	[sale_detail_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[sale_R_detail_t]    Script Date: 6/11/2025 8:24:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sale_R_detail_t](
	[sale_R_d_id] [int] IDENTITY(1,1) NOT NULL,
	[sale_R_id] [int] NULL,
	[product_id] [int] NULL,
	[quntity] [int] NULL,
	[unit_price] [decimal](18, 0) NULL,
	[total_price] [decimal](18, 0) NULL,
 CONSTRAINT [PK__sale_R_d__65A0D54B45131265] PRIMARY KEY CLUSTERED 
(
	[sale_R_d_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[sale_R_t]    Script Date: 6/11/2025 8:24:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sale_R_t](
	[sale_R_id] [int] IDENTITY(1,1) NOT NULL,
	[sale_R_date] [date] NULL,
	[customer_id] [int] NULL,
	[paid] [decimal](18, 0) NULL,
	[balance] [decimal](18, 0) NULL,
	[total] [decimal](18, 0) NULL,
 CONSTRAINT [PK_sale_R_t] PRIMARY KEY CLUSTERED 
(
	[sale_R_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[sale_t]    Script Date: 6/11/2025 8:24:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sale_t](
	[sale_id] [int] IDENTITY(1,1) NOT NULL,
	[sale_date] [date] NULL,
	[customer_ID] [int] NULL,
	[paid] [decimal](18, 0) NULL,
	[balance] [decimal](18, 0) NULL,
	[total] [decimal](18, 0) NULL,
 CONSTRAINT [PK_sale_t] PRIMARY KEY CLUSTERED 
(
	[sale_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[suplier_t]    Script Date: 6/11/2025 8:24:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[suplier_t](
	[suplier_id] [int] IDENTITY(1,1) NOT NULL,
	[suplier_name] [nvarchar](50) NULL,
	[nic] [int] NULL,
	[phone] [int] NULL,
	[addres] [nvarchar](50) NULL,
 CONSTRAINT [PK__suplier___6E7A15D39C076685] PRIMARY KEY CLUSTERED 
(
	[suplier_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[user_t]    Script Date: 6/11/2025 8:24:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_t](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[user_name] [nvarchar](50) NULL,
	[password] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[user_type_id] [int] NULL,
 CONSTRAINT [PK_user_t] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[user_type_t]    Script Date: 6/11/2025 8:24:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_type_t](
	[user_type_id] [int] IDENTITY(1,1) NOT NULL,
	[user_type] [nvarchar](50) NULL,
 CONSTRAINT [PK_Table_1] PRIMARY KEY CLUSTERED 
(
	[user_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  View [dbo].[Expenceview]    Script Date: 6/11/2025 8:24:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Expenceview]
AS
SELECT dbo.Expence_type.Expence_type_Name, dbo.Expences.Expence_amount, dbo.Expences.Expence_Date, dbo.Expences.Expance_description, dbo.Employ_TB.Emp_name, dbo.Expences.Expence_id
FROM   dbo.Expence_type INNER JOIN
             dbo.Expences ON dbo.Expence_type.Expence_type_id = dbo.Expences.Expence_type_id LEFT OUTER JOIN
             dbo.Employ_TB ON dbo.Expences.Emp_id = dbo.Employ_TB.Emp_id

GO
/****** Object:  View [dbo].[ItemREG]    Script Date: 6/11/2025 8:24:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ItemREG]
AS
SELECT dbo.item_registration.product_name, dbo.company_t.company_name, dbo.item_registration.IME, dbo.item_registration.model, dbo.item_registration.Ram, dbo.item_registration.memory, dbo.item_registration.quntity, dbo.item_registration.purchas_price, 
             dbo.item_registration.sale_price
FROM   dbo.item_registration INNER JOIN
             dbo.company_t ON dbo.item_registration.company_id = dbo.company_t.company_id

GO
/****** Object:  View [dbo].[ParchasRview]    Script Date: 6/11/2025 8:24:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ParchasRview]
AS
SELECT dbo.Parchasreturn_detail_t.Parchasreturn_detail_id, dbo.Parchasreturn_detail_t.purchas_date, dbo.item_registration.product_name, dbo.company_t.company_name, dbo.suplier_t.suplier_name, dbo.Parchasreturn_detail_t.quntity, dbo.Parchasreturn_detail_t.unit_price, 
             dbo.Parchasreturn_detail_t.total
FROM   dbo.company_t INNER JOIN
             dbo.item_registration INNER JOIN
             dbo.Parchasreturn_detail_t ON dbo.item_registration.product_id = dbo.Parchasreturn_detail_t.product_id ON dbo.company_t.company_id = dbo.item_registration.company_id CROSS JOIN
             dbo.suplier_t INNER JOIN
             dbo.Parchas_R_TB ON dbo.suplier_t.suplier_id = dbo.Parchas_R_TB.suplair_id


GO
/****** Object:  View [dbo].[ParchasView]    Script Date: 6/11/2025 8:24:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ParchasView]
AS
SELECT dbo.parchas_detail_t.parchas_detail_id, dbo.parchas_detail_t.purchas_dat, dbo.item_registration.product_name, dbo.company_t.company_name, dbo.Employ_TB.Emp_name, dbo.parchas_detail_t.quntity, dbo.parchas_detail_t.unit_price, dbo.parchas_detail_t.tatal
FROM   dbo.company_t INNER JOIN
             dbo.item_registration ON dbo.company_t.company_id = dbo.item_registration.company_id INNER JOIN
             dbo.parchas_detail_t ON dbo.item_registration.product_id = dbo.parchas_detail_t.product_id INNER JOIN
             dbo.purchas_t ON dbo.parchas_detail_t.parchas_id = dbo.purchas_t.purchas_id CROSS JOIN
             dbo.Employ_TB


GO
/****** Object:  View [dbo].[Sale_R_view]    Script Date: 6/11/2025 8:24:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Sale_R_view]
AS
SELECT dbo.sale_R_detail_t.sale_R_d_id, dbo.item_registration.product_name, dbo.company_t.company_name, dbo.customer_t.customer_name, dbo.sale_R_detail_t.quntity, dbo.sale_R_t.sale_R_date, dbo.sale_R_t.paid, dbo.sale_R_t.balance, dbo.sale_R_t.total
FROM   dbo.company_t INNER JOIN
             dbo.sale_R_detail_t INNER JOIN
             dbo.item_registration ON dbo.sale_R_detail_t.product_id = dbo.item_registration.product_id ON dbo.company_t.company_id = dbo.item_registration.company_id CROSS JOIN
             dbo.sale_R_t INNER JOIN
             dbo.customer_t ON dbo.sale_R_t.customer_id = dbo.customer_t.customer_id


GO
/****** Object:  View [dbo].[Sale_view]    Script Date: 6/11/2025 8:24:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Sale_view]
AS
SELECT dbo.sale_t.sale_date, dbo.customer_t.customer_name, dbo.customer_t.phone, dbo.item_registration.product_name, dbo.item_registration.model, dbo.item_registration.Ram, dbo.item_registration.memory, dbo.sale_detail_t.quntity, dbo.sale_detail_t.total_price, dbo.sale_t.paid, 
             dbo.sale_t.balance, dbo.sale_t.total, dbo.sale_t.sale_id
FROM   dbo.sale_detail_t INNER JOIN
             dbo.item_registration ON dbo.sale_detail_t.product_id = dbo.item_registration.product_id INNER JOIN
             dbo.sale_t ON dbo.sale_detail_t.sale_id = dbo.sale_t.sale_id INNER JOIN
             dbo.customer_t ON dbo.sale_t.customer_ID = dbo.customer_t.customer_id


GO
/****** Object:  Index [IX_Expences]    Script Date: 6/11/2025 8:24:54 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Expences] ON [dbo].[Expences]
(
	[Expence_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Expences_1]    Script Date: 6/11/2025 8:24:54 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Expences_1] ON [dbo].[Expences]
(
	[Expence_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_parchas_detail_t]    Script Date: 6/11/2025 8:24:54 PM ******/
CREATE NONCLUSTERED INDEX [IX_parchas_detail_t] ON [dbo].[parchas_detail_t]
(
	[parchas_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Parchas_R_TB]    Script Date: 6/11/2025 8:24:54 PM ******/
CREATE NONCLUSTERED INDEX [IX_Parchas_R_TB] ON [dbo].[Parchas_R_TB]
(
	[purchas_R_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Parchasreturn_detail_t]    Script Date: 6/11/2025 8:24:54 PM ******/
CREATE NONCLUSTERED INDEX [IX_Parchasreturn_detail_t] ON [dbo].[Parchasreturn_detail_t]
(
	[Parchasreturn_detail_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_purchas_t]    Script Date: 6/11/2025 8:24:54 PM ******/
CREATE NONCLUSTERED INDEX [IX_purchas_t] ON [dbo].[purchas_t]
(
	[purchas_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_sale_detail_t]    Script Date: 6/11/2025 8:24:54 PM ******/
CREATE NONCLUSTERED INDEX [IX_sale_detail_t] ON [dbo].[sale_detail_t]
(
	[sale_detail_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_sale_detail_t_1]    Script Date: 6/11/2025 8:24:54 PM ******/
CREATE NONCLUSTERED INDEX [IX_sale_detail_t_1] ON [dbo].[sale_detail_t]
(
	[sale_detail_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_sale_R_detail_t]    Script Date: 6/11/2025 8:24:54 PM ******/
CREATE NONCLUSTERED INDEX [IX_sale_R_detail_t] ON [dbo].[sale_R_detail_t]
(
	[sale_R_d_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_sale_R_t]    Script Date: 6/11/2025 8:24:54 PM ******/
CREATE NONCLUSTERED INDEX [IX_sale_R_t] ON [dbo].[sale_R_t]
(
	[sale_R_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_sale_t]    Script Date: 6/11/2025 8:24:54 PM ******/
CREATE NONCLUSTERED INDEX [IX_sale_t] ON [dbo].[sale_t]
(
	[sale_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_sale_t_1]    Script Date: 6/11/2025 8:24:54 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_sale_t_1] ON [dbo].[sale_t]
(
	[sale_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_user_t]    Script Date: 6/11/2025 8:24:54 PM ******/
CREATE NONCLUSTERED INDEX [IX_user_t] ON [dbo].[user_t]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_user_type]    Script Date: 6/11/2025 8:24:54 PM ******/
CREATE NONCLUSTERED INDEX [IX_user_type] ON [dbo].[user_type_t]
(
	[user_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[item_registration]  WITH CHECK ADD  CONSTRAINT [FK_item_registration_company_t] FOREIGN KEY([company_id])
REFERENCES [dbo].[company_t] ([company_id])
GO
ALTER TABLE [dbo].[item_registration] CHECK CONSTRAINT [FK_item_registration_company_t]
GO
ALTER TABLE [dbo].[parchas_detail_t]  WITH CHECK ADD  CONSTRAINT [FK_parchas_detail_t_item_registration] FOREIGN KEY([product_id])
REFERENCES [dbo].[item_registration] ([product_id])
GO
ALTER TABLE [dbo].[parchas_detail_t] CHECK CONSTRAINT [FK_parchas_detail_t_item_registration]
GO
ALTER TABLE [dbo].[parchas_detail_t]  WITH CHECK ADD  CONSTRAINT [FK_parchas_detail_t_purchas_t] FOREIGN KEY([parchas_id])
REFERENCES [dbo].[purchas_t] ([purchas_id])
GO
ALTER TABLE [dbo].[parchas_detail_t] CHECK CONSTRAINT [FK_parchas_detail_t_purchas_t]
GO
ALTER TABLE [dbo].[Parchas_R_TB]  WITH CHECK ADD  CONSTRAINT [FK_Parchas_R_TB_suplier_t] FOREIGN KEY([suplair_id])
REFERENCES [dbo].[suplier_t] ([suplier_id])
GO
ALTER TABLE [dbo].[Parchas_R_TB] CHECK CONSTRAINT [FK_Parchas_R_TB_suplier_t]
GO
ALTER TABLE [dbo].[purchas_t]  WITH CHECK ADD  CONSTRAINT [FK_purchas_t_suplier_t] FOREIGN KEY([suplair_id])
REFERENCES [dbo].[suplier_t] ([suplier_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[purchas_t] CHECK CONSTRAINT [FK_purchas_t_suplier_t]
GO
ALTER TABLE [dbo].[sale_detail_t]  WITH CHECK ADD  CONSTRAINT [FK_sale_detail_t_sale_t] FOREIGN KEY([sale_id])
REFERENCES [dbo].[sale_t] ([sale_id])
GO
ALTER TABLE [dbo].[sale_detail_t] CHECK CONSTRAINT [FK_sale_detail_t_sale_t]
GO
ALTER TABLE [dbo].[sale_R_detail_t]  WITH CHECK ADD  CONSTRAINT [FK_sale_R_detail_t_item_registration] FOREIGN KEY([product_id])
REFERENCES [dbo].[item_registration] ([product_id])
GO
ALTER TABLE [dbo].[sale_R_detail_t] CHECK CONSTRAINT [FK_sale_R_detail_t_item_registration]
GO
ALTER TABLE [dbo].[sale_R_t]  WITH CHECK ADD  CONSTRAINT [FK_sale_R_t_customer_t] FOREIGN KEY([customer_id])
REFERENCES [dbo].[customer_t] ([customer_id])
GO
ALTER TABLE [dbo].[sale_R_t] CHECK CONSTRAINT [FK_sale_R_t_customer_t]
GO
ALTER TABLE [dbo].[sale_t]  WITH CHECK ADD  CONSTRAINT [FK_sale_t_customer_t] FOREIGN KEY([customer_ID])
REFERENCES [dbo].[customer_t] ([customer_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[sale_t] CHECK CONSTRAINT [FK_sale_t_customer_t]
GO
ALTER TABLE [dbo].[user_t]  WITH CHECK ADD  CONSTRAINT [FK_user_t_user_type_t] FOREIGN KEY([user_type_id])
REFERENCES [dbo].[user_type_t] ([user_type_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[user_t] CHECK CONSTRAINT [FK_user_t_user_type_t]
GO
EXEC [Mobile_shop_application].sys.sp_addextendedproperty @name=N'khan/sahim', @value=N'SQL_Latin1_General_CP1_CI_AS' 
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[45] 4[3] 2[3] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Expence_type"
            Begin Extent = 
               Top = 9
               Left = 57
               Bottom = 227
               Right = 301
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Expences"
            Begin Extent = 
               Top = 9
               Left = 378
               Bottom = 268
               Right = 641
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Employ_TB"
            Begin Extent = 
               Top = 9
               Left = 698
               Bottom = 206
               Right = 920
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1000
         Width = 1000
         Width = 1000
         Width = 1000
         Width = 1000
         Width = 1000
         Width = 1000
         Width = 1000
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Expenceview'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Expenceview'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "item_registration"
            Begin Extent = 
               Top = 9
               Left = 57
               Bottom = 284
               Right = 289
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "company_t"
            Begin Extent = 
               Top = 9
               Left = 346
               Bottom = 262
               Right = 585
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ItemREG'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ItemREG'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "item_registration"
            Begin Extent = 
               Top = 9
               Left = 57
               Bottom = 206
               Right = 279
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Parchas_R_TB"
            Begin Extent = 
               Top = 9
               Left = 336
               Bottom = 206
               Right = 558
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Parchasreturn_detail_t"
            Begin Extent = 
               Top = 9
               Left = 615
               Bottom = 206
               Right = 898
            End
            DisplayFlags = 280
            TopColumn = 3
         End
         Begin Table = "suplier_t"
            Begin Extent = 
               Top = 207
               Left = 57
               Bottom = 404
               Right = 279
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "company_t"
            Begin Extent = 
               Top = 207
               Left = 336
               Bottom = 377
               Right = 575
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
     ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ParchasRview'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'    Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ParchasRview'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ParchasRview'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[47] 4[23] 2[12] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = -144
         Left = 0
      End
      Begin Tables = 
         Begin Table = "company_t"
            Begin Extent = 
               Top = 9
               Left = 57
               Bottom = 179
               Right = 296
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Employ_TB"
            Begin Extent = 
               Top = 9
               Left = 353
               Bottom = 206
               Right = 575
            End
            DisplayFlags = 280
            TopColumn = 1
         End
         Begin Table = "item_registration"
            Begin Extent = 
               Top = 9
               Left = 632
               Bottom = 206
               Right = 854
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "parchas_detail_t"
            Begin Extent = 
               Top = 180
               Left = 57
               Bottom = 377
               Right = 294
            End
            DisplayFlags = 280
            TopColumn = 3
         End
         Begin Table = "purchas_t"
            Begin Extent = 
               Top = 207
               Left = 351
               Bottom = 404
               Right = 573
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ParchasView'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N' = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ParchasView'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ParchasView'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = -144
         Left = 0
      End
      Begin Tables = 
         Begin Table = "customer_t"
            Begin Extent = 
               Top = 9
               Left = 57
               Bottom = 206
               Right = 286
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "item_registration"
            Begin Extent = 
               Top = 9
               Left = 343
               Bottom = 206
               Right = 565
            End
            DisplayFlags = 280
            TopColumn = 1
         End
         Begin Table = "sale_R_detail_t"
            Begin Extent = 
               Top = 9
               Left = 622
               Bottom = 206
               Right = 844
            End
            DisplayFlags = 280
            TopColumn = 2
         End
         Begin Table = "sale_R_t"
            Begin Extent = 
               Top = 207
               Left = 57
               Bottom = 404
               Right = 279
            End
            DisplayFlags = 280
            TopColumn = 2
         End
         Begin Table = "company_t"
            Begin Extent = 
               Top = 207
               Left = 336
               Bottom = 377
               Right = 575
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Sale_R_view'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'= 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Sale_R_view'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Sale_R_view'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[52] 4[9] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "sale_detail_t"
            Begin Extent = 
               Top = 9
               Left = 622
               Bottom = 206
               Right = 844
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "item_registration"
            Begin Extent = 
               Top = 9
               Left = 343
               Bottom = 206
               Right = 565
            End
            DisplayFlags = 280
            TopColumn = 4
         End
         Begin Table = "sale_t"
            Begin Extent = 
               Top = 207
               Left = 57
               Bottom = 404
               Right = 279
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "customer_t"
            Begin Extent = 
               Top = 9
               Left = 57
               Bottom = 206
               Right = 286
            End
            DisplayFlags = 280
            TopColumn = 1
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Sale_view'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Sale_view'
GO
USE [master]
GO
